.navbarSection{
    z-index: 999;width: 100%
  }
  .background_image {
    background: url('./../../assets/assessment/background.jpg') no-repeat center;
    background-size: cover;
    position: relative;
  }
  .whole_border{
    width: 81%;max-width: 1200px;margin: auto;padding-bottom: 30px;
  }
  
  .question_content{
    color: #0054b4;
    font-size: 22px;
    width: 100%;
    margin: auto;
  }
  .question_wording{
    display: block;
    text-align: left;
    width: 100%;
    font-weight: 400;
    white-space: pre-line;
    border: 3px solid #0054b4;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    cursor: pointer;
    background-color: white;
  }
  
  .question_wording_disabled {
    color: gray;
    border-color: gray;
    cursor: default;
    background-color: #EEEEEE;
    cursor: not-allowed !important;
  }
  
  .question_wording b{
    cursor: pointer;
  }
  .question_wording_first{
    margin-top: 0;
  }
  @media screen and (max-width: 1150px) {
    .question_content {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 1000px) {
    .question_content {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 768px) {
    .whole_border{
      padding-bottom: 50px;
    }
  }
  @media screen and (max-width: 620px) {
    .question_content {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 552px) {
    .question_content {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    .whole_border {
      width: 88%;
    }
  }
  