.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

.p1title{
    font-size: 50px;
    font-weight: 800;
    background: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-top: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.p2title{
    font-size: 40px;
    font-weight: 800;
    background: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 0;
}
.p4content{
    color: #7758df;
    font-size: 25px;
    margin: auto;
}
@media screen and (max-width: 1050px){
    .p1title{
      font-size: 35px;
    }
    .p2title{
        font-size: 30px;
    }
    .p4content{
        font-size: 25px;
    }
}
@media screen and (max-width: 768px){
    .p1title{
      font-size: 30px;
    }
    .p2title{
        font-size: 25px;
    }
}
@media screen and (max-width: 620px) {
    .p1title{
      font-size: 25px;
    }
    .p2title{
        font-size: 20px;
    }
    .p4content{
        font-size: 22px;
    }
}
@media screen and (max-width: 460px){
    .p1title{
      font-size: 22px;
    }
    .p2title{
        font-size: 18px;
    }
    .p4content{
        font-size: 20px;
    }
}
@media screen and (max-width: 410px){
    .p1title{
      font-size: 20px;
    }
    .p2title{
        font-size: 15px;
    }
}