.navbarSection{
    z-index: 999;width: 100%
  }
  .background_image {
    background: url('./../../../assets/assessment/background_purple.jpg') no-repeat center;
    background-size: cover;
    position: relative;
  }
  .whole_border{
    width: 81%;max-width: 1200px;margin: auto;padding-bottom: 30px;
  }
  
  .question_content{
    color: #7758df;
    font-size: 22px;
    width: 100%;
    margin: auto;
  }
  .question_wording{
    display: block;
    text-align: left;
    width: 100%;
    font-weight: 400;
    white-space: pre-line;
    border: 3px solid #7758df;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    cursor: pointer;
    background-color: white;
  }
  
  .question_wording_disabled {
    color: gray;
    border-color: gray;
    cursor: default;
    background-color: #EEEEEE;
    cursor: not-allowed !important;
  }
  
  .question_wording b{
    cursor: pointer;
  }
  .question_wording_first{
    margin-top: 0;
  }
  @media screen and (max-width: 1150px) {
    .question_content {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 1000px) {
    .question_content {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 768px) {
    .whole_border{
      padding-bottom: 50px;
    }
  }
  @media screen and (max-width: 620px) {
    .question_content {
      font-size: 22px;
    }
  }
  @media screen and (max-width: 552px) {
    .question_content {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 460px) {
    .whole_border {
      width: 88%;
    }
  }
  
  
  
  
  .academic_p1_container{
  width: 100%;
  display: flex;
  justify-content: center;
  
  }
  
  .academic_p1_title{
  color: #7758df;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  background: transparent;
  padding: 15px;
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  }
  .academic_h4_title{
  color: #7758df;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  background: transparent;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 0;
  }
  
  .container_clock_time{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  width: fit-content;
  margin: auto;
  margin-top: 2vh;
  }
  .containerheadset{
  margin: auto;text-align: center;font-size: 20px;
  }
  .clock_left{
  margin-left: 20px;
  margin-top: 5px;
  }
  
  .oclock{
  width: 30px;
  height:30px;
  }
  
  .time_right{
  text-align: center;
  color: #290a26;
  font-size: 20px;
  font-weight: 800;
  padding: 15px;
  }
  
  .intro_container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .intro_style{
  text-align: center;
  font-size: 20px;
  /*line-height: 20px;*/
  width: 80%;
  margin: auto;
  max-width: 1000px;
  padding-bottom: 30px;
  margin-top: 3vh;
  }
  
  
  .button_word_style{
  min-width: 300px;;
  background: #7758df;
  font-size: 25px;
  padding: 10px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  border-radius: 0;
  margin: auto;
  margin-top: 8vh;
  cursor: pointer;
  text-align: center;
  }
  
  @media screen and (max-width: 1050px){
  .academic_p1_title{
    font-size: 35px;
  }
  .academic_h4_title{
    font-size: 30px;
  }
  
  }
  
  @media screen and (max-width: 768px){
  .academic_p1_title{
    font-size: 30px;
  }
  .academic_h4_title{
    font-size: 25px;
  }
  .button_word_style{
    font-size: 20px;
  }
  }
  
  @media screen and (max-width: 620px) {
  .whole_border{
    width: 91%;
  }
  .academic_p1_title{
    font-size: 25px;
  }
  .academic_h4_title{
    font-size: 20px;
  }
  .intro_style{
    font-size: 18px;
  }
  .time_right{
    font-size: 18px;
  }
  }
  
  @media screen and (max-width: 460px){
  .academic_p1_title{
    font-size: 22px;
  }
  .academic_h4_title{
    font-size: 18px;
  }
  .clock_left{
    margin-right: 0px;
  }
  
  .button_word_style{
    font-size: 15px;
  }
  }
  
  @media screen and (max-width: 410px){
  .academic_p1_title{
    font-size: 20px;
  }
  .academic_h4_title{
    font-size: 15px;
  }
  .time_right{
    font-size: 15px;
  }
  .intro_style{
    font-size: 15px;
  }
  }
  
  .option_btn_div{
    width: 100%;
    text-align: center;
    margin: auto;
  }